h1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  color: #8c00ff;
  -webkit-text-decoration: underline wavy #e976f8;
          text-decoration: underline wavy #e976f8;
}
/*# sourceMappingURL=style.css.map */